#map{
	width: 620px;
	height: 540px;
}
#slider{
	width: 620px;
}

.garage{
	fill: #e74c3c;
	opacity: 1;
}

body {
	padding: 20px 0px 0px 50px;
}

#bayBridge{
      fill: none;
      stroke: #00f;
      stroke-width: 4px;
}

.pipe {
  fill: none;
  stroke: #000;
}
.flow {
  fill: none;
  stroke: #0f0;
}

.road{
	/*stroke: #57E4FF;*/
	/*stroke-width: 5px;*/
	stroke-opacity: 1;
	/*display: none;*/
}

