#map{
	width: 620px;
	height: 450px;
}
#slider{
	width: 620px;
}

.garage{
	fill: rgba(0, 255, 235, 0.88);
	opacity: 1;
	stroke: black;
	stroke-width: 1px;
}

body {
	padding: 20px 0px 0px 50px;
}

#bayBridge{
      fill: none;
      stroke: #00f;
      stroke-width: 4px;
}

.pipe {
  fill: none;
  stroke: #000;
}
.flow {
  fill: none;
  stroke: #0f0;
}

.road{
	/*stroke: #57E4FF;*/
	/*stroke-width: 5px;*/
	stroke-opacity: .8;
	/*display: none;*/
}

#clock{
	position: relative;
	top: -250px;
	right: -400px;
}

.out{
	stroke: #e74c3c;
}

.in{
	stroke: #2ecc71;
}

.hand{
	cursor: pointer;
}